
@import 'partial/mixin';
@import 'partial/variables';

@include body($color_primary,$color_secondary);

body{
  color: rgba($color_primary, 0.4);
  background-color: $color_standard;

  header {
    background-color: $color_primary;
    height: 10%;
  }

  #map { height: 780px; }

  section {
    background-color: inherit;
    height: 85%;
  }

  footer {
    background-color: $color_secondary;
    height: 5%;
  }
}
